@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body {
	
	background: linear-gradient(0deg, #52ff00, #00ffe8);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
min-width: 100%;
min-height: 100%;
font-family: 'Rubik Bubbles', cursive;
	background-repeat: no-repeat;
	background-position: 50% -5%;
	overflow: hidden;
}
.header {
	font-family: 'Rubik Bubbles', cursive;
	position: relative;
	width: 100%;
	height: 80px;
	display: block;
	
 margin-left: auto;
  margin-right: auto;
	
}
.inner_header {
	height: 100%;
	display: block;
	margin:  auto;
	width: 25%;
	
}
.logo_container {
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1 {
	color: #F5F5F5;
	height: 100%;
	display: table-cell;
	
	font-size: 49px;
    color: #ffffff;
    font-family: 'Rubik Bubbles', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(74, 73, 73);
    text-shadow: 0px 0px 0 rgb(243,243,243),
                 1px 1px 0 rgb(230,230,230),
                 2px 2px 0 rgb(218,218,218),
                 3px 3px 0 rgb(205,205,205),
                 4px 4px  0 rgb(193,193,193),
                 5px 5px 4px rgba(127,131,135,0.6),
                 5px 5px 1px rgba(127,131,135,0.5),
                 0px 0px 4px rgba(127,131,135,.2);
	align-items: center;
	
	text-align: center;	
	text-shadow: 2px 2px 4px rgba(200, 0, 0, 0.5);
}
.rectangle {
	height: 50px;
	width: 500px;
	
	font-size: 25px;
	
	
	margin-bottom: 500px;
	margin-top: 100px;
	margin-left: auto;
    	margin-right: auto;
	display: flex;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	color:white;
}
.encrypted_pass {
	margin: auto;
	width: 50%;
	font-size: auto;
	font-family: 'Rubik Bubbles', cursive;
	flex: 1;
	text-align:center;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
.rectangle2 {
	height: 50px;
	width: 800px;
	
	font-size: 25px;
	filter: drop-shadow(20px 20px 20px);
	margin-bottom: 500px;
	margin-top: 100px;
	margin-left: auto;
    	margin-right: auto;
	display: flex;
	margin-top: -300px;
	
}
#logospin {
	position: absolute;
	width:5%;
	top: 50%;
  	left: 5%;
  	transform: translate(-105%, -50%);
}
#logospin2 {
	position: absolute;
	width:5%;
	top: 50%;
  	left: 100%;
  	transform: translate(-105%, -50%);
}
.box {
background-image: repeating-linear-gradient(-60deg, #fbaa1d, #fbaa1d 4px, transparent 25px, transparent 27.72px, #fbaa1d 42px), repeating-linear-gradient(30deg, #fbaa1d, #fbaa1d 4px, transparent 25px, transparent 27.72px, #fbaa1d 42px), repeating-linear-gradient(120deg, #fbaa1d, #fbaa1d 4px, transparent 25px, transparent 27.72px, #fbaa1d 42px), repeating-linear-gradient(210deg, #fbaa1d, #fbaa1d 4px, transparent 25px, transparent 27.72px, #fbaa1d 42px);
background-size: 4px calc(100% + 84px), calc(100% + 84px) 4px, 4px calc(100% + 84px) , calc(100% + 84px) 4px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
animation: borderAnimation 0.5s infinite linear;
}
.textbox { padding:3px; font-size:16px; border-color:#fa99fa; border-width:4px; border-radius:50px; border-style:solid; text-align:center;  font-weight:bold; font-style:none; font-family:monospace;  }
.textbox:focus { outline:none; } 
.submit {
	background: #fa99fa;
	background-image: -webkit-linear-gradient(top, #fa99fa, #ff36ff);
	background-image: -moz-linear-gradient(top, #fa99fa, #ff36ff);
	background-image: -ms-linear-gradient(top, #fa99fa, #ff36ff);
	background-image: -o-linear-gradient(top, #fa99fa, #ff36ff);
	background-image: linear-gradient(to bottom, #fa99fa, #ff36ff);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Rubik Bubbles',cursive;
	color: #ffffff;
	font-size: 31px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top: 50px;
	transition-duration: 0.3s;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .submit:hover {
	background: #f7c1f7;
	text-decoration: none;
	transform:scale(0.94);
	transition-property: all;
  transition-duration: 0.2s;
  }
.copy {
	position: relative;
	top: -400px;
	display: flex;
	
	
}
  .gradient-border {
	--borderWidth: 3px;
	background: #1D1F20;
	position: relative;
	border-radius: var(--borderWidth);
  }
  .gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
  }
  input:focus::placeholder {
	opacity: 0;
  }
  input::placeholder {
	font-family: Arial, Helvetica, sans-serif;
	opacity: .5;
	font-weight: normal;
	-webkit-text-stroke-width: 0px;
  }
  @keyframes animatedgradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }
@keyframes borderAnimation {
from { background-position: 0 0, -84px 0, 100% -84px, 0 100%; }
to { background-position: 0 -84px, 0 0, 100% 0, -84px 100%; }
}
@-webkit-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes AnimationName {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}